* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* border: 1px solid blue; */
	font-family: "宋体";
}

a {
	text-decoration: none;
	color: black;
}

ul {
	display: flex;
	list-style: none;
}

img {
	width: auto;
	height: 100%;
}

h1,
h2,
h3 {
	text-align: center;
}

div.km {
	display: flex;
	justify-content: center;
	width: 100%;
	min-width: 1100px;
	height: auto;
}

/* 头部导航 */

div.nav {
	box-shadow: 0 2px 3px lightgrey;
}

div.nav nav {
	display: flex;
	justify-content: space-between;
	width: 1100px;
	min-width: 1100px;
	height: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav .logo {
	display: flex;
	align-items: center;
	width: 400px;
}

nav .search {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav .search .s {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid blue;
	border-radius: 20px;
	font-size: 1.2em;
}

nav .search .s input {
	padding-left: 10px;
	border: none;
	background: transparent;
}

nav .search .s>i {
	margin: 0 5px;
	color: #000000;
	visibility: hidden;
}

nav .search .s>i:hover {
	cursor: pointer;
	transform: scale(1.2);
}

nav .search .s .s-s {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 25px;
	background: blue;
	border-radius: 20px;
	color: white;
}

nav .search .s .s-s i:hover {
	cursor: pointer;
	transform: scale(1.2);
}

nav ul {
	margin-bottom: 0;
	font-size: 1.3em;
}

nav ul li {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

nav ul li:nth-child(1) {
	margin-left: 0;
}

nav ul li a {
	font-weight: 600;
	color: rgba(71,71,73, 1);
}

/* 头部导航结束 */

/* 课程 */

div.course {
	display: flex;
	margin-top: 30px;
	width: 1100px;
	border: 30px solid rgb(238,238,238);
	box-shadow: 0 1px 3px lightgrey;
}

.course .c-l {
	width: 50%;
}

.course .c-l .ttt {
	height: 300px;
	width: 500px;
}

.course .c-r {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.course .c-r ul {
	flex-direction: column;
	margin-bottom: 0;
}

.course .c-r ul.c-r-D {
	/* margin-left: 30px; */
}

.course .c-r .c-r-D li:nth-child(1) {
	font-size: 2em;
	font-family: "微软雅黑";
	margin-top: 20px;
}

.course .c-r .c-r-D li:nth-child(2) {
	color: orange;
	font-size: 1.5em;
	font-weight: 600;
	margin-top: 20px;
}

.course .c-r .c-r-D li:nth-child(3) button {
	background: orange;
	color: white;
	letter-spacing: 3px;
	font-weight: 600;
	font-family: "微软雅黑";
	height: 45px;
	width: 200px;
	margin-top: 15px;
	font-size: 1.5em;
	transition: all 1s;
}

.course .c-r .c-r-D li:nth-child(3) button:hover {
	opacity: .7;
}

.course .c-r .c-r-D li span {
	display: inline-block;
	background: orange;
	color: white;
	border-radius: 5px;
	margin: 0 5px;
	padding: 0 5px;
	text-align: center;
}

.course .c-r .c-r-D li:nth-child(4) {
	margin-top: 50px;
}

.course .c-r .c-r-D li:nth-child(5) {
	margin-top: 10px;
}

.course .c-r .c-r-teacherD {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.course .c-r .c-r-teacherD img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.course .c-r .c-r-teacherD ul {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-right: 80px;
}

.course .c-r .c-r-teacherD ul li:nth-child(1) {
	/* margin-top: 30px; */
}

.course .c-r .c-r-teacherD ul li:nth-child(2) {
	margin-top: 10px;
	transition: all 0.5s;
}

.course .c-r .c-r-teacherD ul li:nth-child(2):hover {
	cursor: pointer;
	color: orange;
}

.course .c-r .c-r-teacherD ul li:nth-child(3) {
	margin-top: 30px;
}

.course .c-r .c-r-teacherD ul li:nth-child(3) span {
	display: inline-block;
	background: orange;
	color: white;
	border-radius: 5px;
	margin: 0 5px;
	padding: 0 5px;
	text-align: center;
}

/* 课程结束 */

/* 课程详细 */

.courseD {
	width: 1100px;
	min-width: 1100px;
	margin-top: 80px;
	position: relative;
	border-bottom: 2px solid rgb(238,238,238);
}

.courseD .cd-nav {
	position: absolute;
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	top: -50px;
	left: 0;
	background: rgb(238,238,238);
}

.courseD .cd-nav ul {
	margin-bottom: 0;
	margin-left: 30px;
}

.courseD .cd-nav ul li {
	margin-right: 30px;
	transition: all 0.1s;
	font-weight: 600;
	font-size: 1.1em;
}

.courseD .cd-nav ul li:last-child {
	margin-right: 0px;
}

.courseD .cd-nav ul li:hover {
	cursor: pointer;
	transform: scale(1.1);
	color: orange;
}


/* 课程详细结束 */

.courseD .cd-content {
	display: flex;
	flex-direction: column;
	/* padding: 10px; */
}

/* 课程介绍 */

.courseD .cd-content .cd-c-intro {
	/* display: none; */
}

.courseD .cd-content .cd-c-intro h2, h1, h3 {
	text-align: left;
}

/* 课程介绍结束 */

/* 课程目录 */

.courseD .cd-content .cd-c-directory {
	display: none;
}

.courseD .cd-content .cd-c-directory .cd-c-d-title {
	border-bottom: 2px solid rgb(238,238,238);
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
	font-weight: 600;
	padding-left: 10px;
}

.courseD .cd-content .cd-c-directory ul.cd-c-d-1 {
	flex-direction: column;
}

.courseD .cd-content .cd-c-directory ul.cd-c-d-1>li {
	font-size: 1.2em;
	background: rgb(250,250,250);
}

.courseD .cd-content .cd-c-directory ul.cd-c-d-1>li:hover {
	cursor: pointer;
	background: rgba(255,165,0,.5);
}

.courseD .cd-content .cd-c-directory ul.cd-c-d-1>li span:first-child {
	display: inline-block;
	margin-right: 15px;
}

.courseD .cd-content .cd-c-directory ul.cd-c-d-1>li ul.cd-c-d-2 {
	flex-direction: column;
	font-size: 1em;
	background-color: white;
}

.courseD .cd-content .cd-c-directory ul.cd-c-d-1>li ul.cd-c-d-2 li {
	padding-left: 10px;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.courseD .cd-content .cd-c-directory ul.cd-c-d-1>li ul.cd-c-d-2 li:last-child {
	margin-bottom: 10px;
}

.courseD .cd-content .cd-c-directory ul.cd-c-d-1>li ul.cd-c-d-2 li:hover {
	cursor: pointer;
	background: #eee;
}

.courseD .cd-content .cd-c-directory ul.cd-c-d-1>li ul.cd-c-d-2 li span {
	display: inline-block;
	margin-right: 15px;
}

.courseD .cd-content .cd-c-directory ul.cd-c-d-1 ul.cd-c-d-2 {
	/* display: none; */
}


/* 课程目录结束 */

/* 课程评论 */

.courseD .cd-content .cd-c-comments {
	display: none;
}

.pcom {
	margin-top: 20px;
	border-bottom: 2px solid rgb(238,238,238);
}

.pcom .pcom-p ul {
	display: flex;
	align-items: center;
	margin-bottom: 0;
}

.pcom .pcom-p ul li:nth-child(2) {
	margin-left: 10px;
}

.pcom .pcom-p ul li:nth-child(3) {
	margin-left: 30px;
	color: rgb(156,156,156);
}

.pcom .pcom-p img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.pcom .pcom-c {
	margin-top: 20px;
	font-size: 1.5em;
	padding-left: 30px;
}

.pcom .pcom-s {
	margin-top: 15px;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 100px;
	font-size: 1.3em;
	color: #777;
}

.pcom .pcom-s i {
	margin-right: 5px;
}

.pcom .pcom-s i:hover {
	cursor: pointer;
	color: orange;
}

/* 评论 */
.cd-c-comments .cd-c-reply {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 5px;
	background: rgb(238,238,238);
	padding: 30px;
}

.cd-c-comments .cd-c-reply textarea {
	min-height: 200px;
	width: 100%;
}

.cd-c-comments .cd-c-reply button {
	margin-top: 30px;
	background: rgb(156,156,156);
	color: white;
	font-size: 1.3em;
	letter-spacing: 5px;
	font-weight: 600;
}

/* 课程评论结束 */

/* 底部 */
section.footer {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	width: 100%;
	min-width: 1100px;
	background: rgba(57,57,57, .5);
}

div.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1100px;
	height: 60px;
	color: white;
}

div.footer ul {
	display: flex;
}

div.footer ul li {
	margin-right: 10px;
}

div.footer ul li:nth-child(1) {
	margin-left: 0;
}

div.footer ul li:first-child:hover {
	opacity: 1;
}

div.footer ul li:hover {
	opacity: .8;
}

div.footer a {
	color: white;
}