/* 底部 */
footer {
	position: relative;
	margin-top: 50px;
	min-height: 200px;
	min-width: 1200px;
	height: 200px;
	background: #77CABD;
}

footer>div:first-child {
	position: absolute;
	top: -50px;
	height: 117px;
	width: 100%;
	background: url(../images/background/footer-bg.png);
}

footer>div:first-child>div {
	height: 100%;
	background: url(../images/overly/pattern.png);
}

.footer {
	position: relative;
	display: flex;
	justify-content: center;
	height: 100%;
	background: url(../images/overly/pattern.png);
}

.footer .footer-textLogo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 1100px;
	margin: 0 auto;
	position: absolute;
}

.footer .footer-textLogo .footer-logo {
	width: 300px;
    padding-left: 100px;
}

.footer .footer-textLogo .footer-logo img {
	width: 100%;
}

.footer .footer-textLogo .footer-text {
	display: flex;
	width: 40%;
	justify-content: space-around;
}

.footer .footer-textLogo .footer-text>div>div {
	font-size: 1.2em;
	margin-bottom: 10px;
	color: #555;
}

.footer .footer-textLogo .footer-text>div>ul {
	color: #7a7a7a;
}

.footer .footer-textLogo .footer-text>div>ul li:hover {
	cursor: pointer;
	color: white;
}

.footer .footer-textLogo .footer-text>div>ul li a {
	color: #7a7a7a;
}

.footer .footer-textLogo .footer-text>div>ul li a:hover {
	text-decoration: none;
	color: white;
}

.footer .footer-beian {
	position: absolute;
	top: 125px;
	color: #7a7a7a;
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* 底部结束 */

/* 返回顶部 */
.footer-backTop {
	position: fixed;
	bottom: 0;
	right: 10px;
	font-size: 3em;
	color: #8F8F8F;
	transition: all 0.5s;
}

.footer-backTop:hover {
	cursor: pointer;
	color: #333;
}
/* 返回顶部结束